h1  {
       text-align: center;
       font-size: 12pt;
       color: darkred;
       margin-bottom: 0px;
       text-decoration: underline;
        margin-top:5%
       
    }
    

    table {
       margin: 20px;
      margin-left:26%;
       width: 290px;
           border:5px solid-black;
    }
    
    th {
       padding: 3px;
    }
    
    td {
       padding-left: 15px;
       padding-right: 8px;
       border: 1px solid black;
       background-color: #ffffcc;
    }
    
    #trHeader {
       text-decoration: underline;
       color:darkred;
      
    }
    
    .centerCell {
       text-align: center;
    }
    
body {
    background-color: lightblue;
}
img{
  padding:4px;
  margin-left:17%
}

